.container {
  display: flex;
  flex-direction: column;
  max-width: var(--sections-max-width);
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.625rem 1rem;
}
