.normal {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
